
<div class="card w-50 d-inline-block">
    <h5 class="card-header stylish-color white-text text-center py-4">
        <strong>Sign in</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
        <form #form="ngForm" class="text-center" style="color: #757575;" (ngSubmit)="initLogin(form.value)">
            <div class="md-form">
                <input #userName="ngModel" type="text" id="LoginFormEmail" (ngModel)="userName"
                       minlength="4" [class.is-invalid]="userName.touched && userName.invalid"
                       name="userName"
                       class="form-control" required>
                <label for="LoginFormEmail">User Name</label>
            </div>
            <div class="md-form">
                <input #password="ngModel" type="password" id="LoginFormPassword" (ngModel)="password"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*]).{6,}"
                       minlength="6" [class.is-invalid]="password.touched && password.invalid"
                       name="password"
                       class="form-control" required>
                <label for="LoginFormPassword">Password</label>
            </div>
            <!--
           <div class="d-flex justify-content-around">
               <div>
                   Remember me --
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="LoginRemember">
                        <label class="form-check-label" for="LoginRemember">Remember me</label>
                    </div>
                </div>
                <!--
                <div>
                     Forgot password
                    <a href="">Forgot password?</a>
                </div>

            </div>
            -->
            <button class="btn btn-email btn-rounded btn-block my-4 waves-effect z-depth-0"
                    [disabled]="form.invalid"
                    type="submit">Sign in
            </button>
            <p>Not a member?
                <a [routerLink]="['/auth']" (click)="reloadPage()">Register</a>
            </p>
            <!-- Social login
            <p>or sign in with:</p>
            <a type="button" class="btn-floating btn-fb btn-sm">
                <i class="fa fa-facebook"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
                <i class="fa fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
                <i class="fa fa-linkedin"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fa fa-github"></i>
            </a>
            -->
        </form>
    </div>
</div>
