.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #4b515d;
    border-bottom: 1px solid #4b515d;
}
.md-form input[type=text]:focus:not([readonly]) + label,
.md-form input[type=password]:focus:not([readonly]) + label,
.md-form input[type=email]:focus:not([readonly]) + label,
.md-form input[type=url]:focus:not([readonly]) + label,
.md-form input[type=time]:focus:not([readonly]) + label,
.md-form input[type=date]:focus:not([readonly]) + label,
.md-form input[type=datetime-local]:focus:not([readonly]) + label,
.md-form input[type=tel]:focus:not([readonly]) + label,
.md-form input[type=number]:focus:not([readonly]) + label,
.md-form input[type=search-md]:focus:not([readonly]) + label,
.md-form input[type=search]:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
    color: #4b515d;
}
.is-invalid {
    color: #dc3545;
    box-shadow: unset!important;
    border-bottom: 2px solid #dc3545!important;
}
.is-invalid + label {
    color: #dc3545!important;
}