/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar-thumb{
    background-color: gray;
    color: #2c2f34;
}
body::-webkit-scrollbar{
    height: 6px;
    width: 6px;
}