<div class="card w-50 d-inline-block">
    <h5 class="card-header stylish-color white-text text-center py-4">
        <strong>Sign up</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
        <form #AuthForm="ngForm" class="text-center" (submit)="initRegister(AuthForm.value)" style="color: #757575;">
            <div class="md-form">
                <span class="counter" id="ut" title="ex: 'example@example.com'!">
                    <i class="fa fa-question" aria-hidden="true"></i>
                </span>
                <input #email="ngModel" type="email" id="AuthFormEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                       (ngModel)="email" name="email" [class.is-invalid]="email.touched && email.invalid"
                       class="form-control" required>
                <label for="AuthFormEmail">Email</label>
            </div>
            <div class="md-form">
                <input #userName="ngModel" type="text" id="AuthFormUserName" minlength="4"
                       (ngModel)="userName" name="userName" [class.is-invalid]="userName.touched && userName.invalid"
                       class="form-control" required>
                <label for="AuthFormUserName">User Name</label>
            </div>
			<div class="md-form">
                <input #firstName="ngModel" type="text" id="" minlength="4"
                       (ngModel)="firstName" name="firstName" [class.is-invalid]="firstName.touched && firstName.invalid"
                       class="form-control" required>
                <label for="">First Name</label>
            </div>
			<div class="md-form">
                <input #secondName="ngModel" type="text" id="" minlength="4"
                       (ngModel)="secondName" name="secondName" [class.is-invalid]="secondName.touched && secondName.invalid"
                       class="form-control" required>
                <label for="">Second Name</label>
            </div>
            <div class="md-form">
                <span class="counter" id="pt" title="ex: 'asdASD123!$'!">
                    <i class="fa fa-question" aria-hidden="true"></i>
                </span>
                <input #password="ngModel" type="password" id="AuthFormPassword" minlength="6"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*]).{6,}"
                       (ngModel)="password" name="password" [class.is-invalid]="password.touched && password.invalid"
                       class="form-control" required>
                <label for="AuthFormPassword">Password</label>
            </div>
            <!--
          <div class="d-flex justify-content-around">
              <div>
                  <!-- Remember me --
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="LoginRemember">
                        <label class="form-check-label" for="LoginRemember">Remember me</label>
                    </div>
                </div>

                <div>
                     Forgot password
                    <a href="">Forgot password?</a>
                </div>

            </div>
            -->
            <button class="btn btn-email btn-rounded btn-block my-4 waves-effect z-depth-0"
                    [disabled]="AuthForm.invalid"
                    type="submit">Sign up
            </button>
            <p>have an account?
                <a [routerLink]="['/login']" (click)="reloadPage()">Login</a>
            </p>

            <!-- Social login
            <p>or sign in with:</p>
            <a type="button" class="btn-floating btn-fb btn-sm">
                <i class="fa fa-facebook"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
                <i class="fa fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
                <i class="fa fa-linkedin"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fa fa-github"></i>
            </a>
            -->
        </form>
    </div>
</div>
