<!--Main Navigation-->
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar">
        <a class="navbar-brand" [routerLink]="['/']">
            Welcome to<strong> {{ title }}!</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/auth']">
                        <i class="fa fa-user-plus"></i>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/login']">
                        <i class="fa fa-sign-in"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--Main Navigation-->
<!--Main Layout-->
<main class="text-center py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-12">
                <div *ngIf="messageService.messages.length">
                    <h2>Messages</h2>
                    <button class="clear"
                            (click)="messageService.clear()">clear
                    </button>
                    <div *ngFor='let message of messageService.messages'> {{message}}</div>
                </div>
            </div>
        </div>
    </div>

</main>
<!--Main Layout-->