﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Back-End App is running.</h2>
<p>Please run client side app. You can start it by running "npm start" command at React Client directory. Make sure you have installed node packages, by running "npm install".</p>
