<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar">
        <a class="navbar-brand" [routerLink]="['/home', 'user']">
            <i class="fa fa-home " aria-hidden="true"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/home', 'posts']">
                        <!--<i class="fa fa-users"></i>-->
                        posts
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/home', 'createPost']">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link" id="dropdownMenu5" data-toggle="dropdown">
                            <i class="fa fa-bell cyan-text pr-3" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
                            <app-requests></app-requests>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-collapse" data-activates="slide-out">
                        <i class="fa fa-user-o pr-3" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Sidebar navigation -->
    <app-sidebar></app-sidebar>
    <!--/. Sidebar navigation -->
</header>

<!--Main Layout-->
<main class="text-center py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-home></app-home>
            </div>
            <div class="col-md-12">
                <div *ngIf="messageService.messages.length">
                    <h2>Messages</h2>
                    <button class="clear"
                            (click)="messageService.clear()">clear
                    </button>
                    <div *ngFor='let message of messageService.messages'> {{message}}</div>
                </div>
            </div>
        </div>
    </div>

</main>
<!--Main Layout-->