<!--<h1>ok home</h1>-->
<router-outlet></router-outlet>

<!--<ul class="list-group">-->
    <!--<li *ngFor="let post of PostList" class="list-group-item">-->

      <!--{{ post.postedAt }}-->
      <!--<p>{{ post.body }}</p>-->
      <!--{{ post.aliasName }}-->
      <!--{{ post.authorName }}-->
    <!--</li>-->
  <!--</ul>-->