.custom-scrollbar {
    overflow: scroll;
    overflow-x: hidden;
}
.custom-scrollbar::-webkit-scrollbar{
    height: 6px;
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: transparent;
    color: #0d0d0d;
}
.logo-wrapper{
    height: auto;
}