<div class="card w-50 d-inline-block">
  <h5 class="card-header stylish-color white-text text-center py-4">
    <strong>create Post</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    <form #form="ngForm" class="text-center" style="color: #757575;" (ngSubmit)="createPost(form.value)">
      <div class="md-form">
        <input type="text" id="post" (ngModel)="body" name="body"
               class="form-control">
        <label for="post">post</label>
      </div>
      <button class="btn btn-email btn-rounded btn-block my-4 waves-effect z-depth-0"
              [disabled]="form.invalid"
              type="submit">create post
      </button>
    </form>
  </div>
</div>