<div class="card w-50 d-inline-block">
    <h5 class="card-header stylish-color white-text text-center py-4">
        <strong>recently posts</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">

    </div>
</div>