<ul class="list-group">
  <li *ngFor="let friendRequest of friendRequests" class="list-group-item">
    <a [routerLink]="['/home', 'view', friendRequest.senderId]">{{ friendRequest.sender.firstName }}</a>
    {{ friendRequest.sender.lastName }}
    {{ friendRequest.sendingDate | date: 'yyyy-MM-dd' }}
    <a (click)="responceToFriendRequest(friendRequest, 2)">
      <kbd>Approve</kbd>
    </a>
    <a (click)="responceToFriendRequest(friendRequest, 1)">
      <kbd>Denie</kbd>
    </a>
  </li>
</ul>
