<div>
  <ul *ngIf="allUsers.length > 0">
    <li *ngFor="let user of allUsers[0]">
      <button (click)="sendRequest(user.applicationUserId)">
        {{ user.firstName }}
      </button>

    </li>
  </ul>
</div>
